<div id="carouselExampleFade" class="carousel slide carousel-fade imageCarousel" data-bs-ride="carousel">
    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{ asset('images/brochette_poulet.jpeg') }}" class="d-block w-100 imageCarousel" alt="...">
      </div>

      <div class="carousel-item">
        <img src="{{ asset('images/plat_sauté_crevettes.jpeg') }}" class="d-block w-100 imageCarousel" alt="...">
      </div>

      <div class="carousel-item">
        <img src="{{ asset('images/poulet_coréen.jpeg') }}" class="d-block w-100 imageCarousel" alt="...">
      </div>
    </div>
    
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Précédent</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Suivant</span>
    </button>
    
</div>
<nav class="navbar navbar-expand-lg navbar-light imageNav">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('images/logo.png') }}" class="imageLogo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        {% if app.user %}
 
            {% if app.user.roles[0] is same as "ROLE_ADMIN" %}
        
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ path('admin_home') }}">Administration</a>
              </li>

            {% endif %}

            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{{ path('app_logout') }}">Se déconnecter</a>
            </li>
 
        {% else  %}

            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{{ path('home') }}">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{{ path('app_register') }}">Nos spécialités</a>
            </li>

        {% endif %}        

        {% for category in categoryRepository.findAll() %}
          
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{{ path('boutique_product_category',{'id':category.id}) }}">
                {{ category.name }}
              </a>
            </li>

        {% endfor %}

      </ul>
      
      <div class="d-flex">
          <a class="nav-link text-black" aria-current="page" href="{{ path('profile_detail') }}">
            Mon compte <i class="fas fa-user"></i>
          </a>
          <a class="nav-link text-black" aria-current="page" href="{{ path('cart_detail') }}">
            Mon panier <i class="fas fa-shopping-bag"></i>
          </a>
      </div>
      
    </div>
  </div>
</nav>