{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container py-5">
 
    <div class="row">

        <div class="col-12 ">
            <a class="btn btn-dark mb-3" href="{{ path('app_login') }}">Déja un compte ? Se connecter</a>
        </div>

        <div class="col-sm-12">
            <div class="card backgroundInscription">
                <div class="card-header">
                    <h5 class="card-title">Créer un compte</h5>
                </div>
                <div class="card-body">
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.name) }}
                {{ form_row(registrationForm.first_name) }}
                {{ form_row(registrationForm.phone_number) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn btn-dark mt-3">Inscription</button>
                {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
