{% extends 'base.html.twig' %}

{% block title %}Modification du profil de {{ app.user.firstname }} {{ app.user.name }}{% endblock %}

{% block body %}
<div class="container py-5">

    <div class="row">
    
        <div class="col-12 ">
            <a class="btn btn-dark" href="{{ path('profile_detail') }}">Revenir au profil</a>
        </div>

        <div class="col-sm-12 mt-3">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">Modification du profil de {{ app.user.firstname }} {{ app.user.name }} </h1>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn btn-primary mt-3" type="submit">Enregistrer</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

    </div>
  </div>
 
{% endblock %}
